.header__lang {
  font-size: 16px;
  line-height: 18px;
  font-style: normal;
  font-weight: normal;
  transition: opacity ease-in-out 0.3s;
}

.header__lang:hover {
  opacity: 0.6;
  cursor: pointer;
}
