.history {
  margin: 0;
  padding: 10px;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #059;
  border-radius: 5px;
  box-shadow: 0 2px 5px #333;
}
