@keyframes victory {
  from {
    transform: translate(0, -25%) scale(5);
  }
  to {
  }
}

.game__status_end {
  display: inline-block;
  position: relative;
  top: 50%;
  left: 0;
  z-index: 100;
  background-image: radial-gradient(#fff, #fff9);
  border-top-right-radius: 15px 50%;
  border-top-left-radius: 15px 50%;
  border-bottom-right-radius: 15px 50%;
  border-bottom-left-radius: 15px 50%;
  animation: victory 5s linear 1;
  transform: translate(0, -25%) scale(2);
}

.game__status_end:hover {
  box-shadow: 0 2px 5px #333;
}
