.history__title {
  margin: 0;
  padding: 5px;
  font-size: 18px;
  line-height: 20px;
  font-style: normal;
  font-weight: bold;
  color: #059;
  outline: 0;
  border: 0;
  border-radius: 0;
  background-color: transparent;
}
