.header {
  position: relative;
  background-image: linear-gradient(to bottom, #999, #ccc);
  box-shadow: 0 2px 5px #333;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.header__langs{
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.header__langs-item{
  margin-right: 5px;
}

.header__langs-item:last-child{
  margin-right: 0;
}

.header__lang{
  font-size: 16px;
  line-height: 18px;
  font-style: normal;
  font-weight: normal;
  transition: opacity ease-in-out 0.3s;
}

.header__lang:hover{
  opacity: 0.8;
  cursor: pointer;
}

.header__lang_active{
  font-weight: bold;
  border-bottom: 1px solid;
}

.header__title {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: calc(100% - 140px);
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 24px;
  line-height: 26px;
  font-style: normal;
  font-weight: bold;
  color: #059;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (min-width: 425px) {
  .header__title {
    font-size: 30px;
    line-height: 34px;
  }
}
