@keyframes rotation{
  from{
    transform: rotate(0);
  }
  to{
    transform: rotate(360deg);
  }
}

.board{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
  border-radius: 5px;
  box-shadow: 0 2px 5px #333;
}

.board__row{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.board__cell{
  margin: 0;
  padding: 0;
  width: 100px;
  height: 100px;
  font-size: 32px;
  line-height: 34px;
  font-style: normal;
  border-radius: 0;
  border: 1px solid #000;
  outline: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
} 

.board__cell:hover:not(:disabled){
  transform: scale(1.1);
  border-radius: 10%;
}

.board__cell:disabled{
  color: #000;
}

.board__cell_active{
  border: 1px solid #059;
  color: #059;
}

.board__cell_active:disabled{
  color: #059;
}

.board__cell_winner{
  background-color: #09f5;
  animation: rotation 5s linear 1;
}