.cross-zero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cross-zero__status {
  margin: 10px auto;
  font-size: 22px;
  line-height: 24px;
  border: 1px solid #f00;
}

.cross-zero__status_end-game{
  color: #ff0;
}

.cross-zero__field {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cross-zero__button{
  height: 30px;
  width: 30px;
  visibility: hidden;
}
.cross-zero__button_back{
  color: #0f0;
}

.cross-zero__again{
  margin: 10px;
  padding: 5px;
  /* visibility: hidden; */
}

.cross-zero__moves {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  gap: 5px;
  border: 1px solid #0ff;
  /* align-self: flex-start; */
}

.cross-zero__moves-item{
  margin: 0;
  padding: 0;
}

.cross-zero__step{
  padding: 2px;
  border: 1px solid #ff0;
}

.cross-zero__step_active{
  background-color: #0f0;
}
