.cross-zero {
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cross-zero__status {
  margin: 10px auto;
  font-size: 22px;
  line-height: 24px;
}

.cross-zero__status_end-game{
  color: #09f;
}

.cross-zero__field {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cross-zero__button{
  margin: 10px;
  height: 40px;
  width: 40px;
  font-size: 24px;
  line-height: 26px;
  background-color: transparent;
  border: 0;
  outline: 0;
  border-radius: 0;
}

.cross-zero__button_hidden{
  visibility: hidden;
}


.cross-zero__again{
  margin: 10px;
  padding: 5px;
}

@media screen and (max-width: 425px) {
  .cross-zero__field {
    justify-content: center;
    }

  .cross-zero__button{
    display: none;
  }
}