.memory__game-field {
  margin: 0 auto;
  padding: 0;
  width: 80%;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  justify-content: center;
  gap: 10px;
}
